* {
	box-sizing: border-box;
}

.textinputDescripiton {
	margin-left :5%;
	margin-right : 5% ;
	min-width: 100%;
	max-width: 100%;
	border-radius: 0px 30px 30px 30px;
	margin-bottom: 0%;
	font-size: 45px;
	background-color: Transparent;
	border-style: solid;
	border-width: 1px;
	color: black;
	border-color: grey;
}

input {
width : 50px;
height: 50px;
}

.outerCard {
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 5px;
	background-color: #f1f1f1;
	width: 99%;
	display: inline-block;
	align-items: center;
	justify-content: center;
}

.innerCard {
	padding: 16px;
	top: 2%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
}

.ButonContainer {
	justify-content: center;
	display: flex;
	align-items: center;
	font-size : 50px ;
}

.TitleContainer {
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	font-weight: bold;
	font-size: 50px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.button {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	text-align: center;
	width: 60%;
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #3c89c3;
	color: white;
	background-color: #3c89c3;
	margin-top: 10%;
}

.uploadButton {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	text-align: center;
	width: 60%;
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #3c89c3;
	color: white;
	background-color: #3c89c3;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.uploadButton + label {
	justify-content : center ;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	text-align: center;
	padding-top : 10px;
	width: 60%;
	font-size: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: #3c89c3;
	color: white;
	background-color: #3c89c3;
}

.uploadButton:focus + label,
.uploadButton + label:hover {
    background-color: white;
    color: #3c89c3;
}
.uploadButton + label {
	cursor: pointer; /* "hand" cursor */
}

.Description {
	color: black;
	font-size: 100%;
	display: flex;
	align-items: flex-start;
}

.Date {
	color: grey;
	text-align: left;
	font-size: 50%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
		width: 100%;
	height: 100%;
}
.select-css {
	display: block;
	font-size: 40px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
	font-size: 40px;
}