* {
	box-sizing: border-box;
}

.outerCard {
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 5px;
	background-color: #f1f1f1;
	width: 99%;
	display: inline-block;
	align-items: center;
	justify-content: center;
}

.innerCard {
	padding: 16px;
	top: 2%;
	display: flex;
	width: 100%;
	height: 30%;
}

.TitleContainer {
	justify-content: center;
	height: 100%;
	width: 100%;
	font-size: 20px;
	position: relative;
	display: flex;
	font-weight: normal;
}

.TitleImage {
	width: 20%;
	display: flex;
	position: relative;
	align-items: center;
}


.inner-image {
  position: absolute;
  width: 50%;
}

.Title {
	padding: 5px;
	width: 70%;
	text-align: left;
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 50px
}

.Next {
	width: 10%;
	display: flex;
	align-items: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.Description {
	color: black;
	font-size: 50px;
	display: flex;
	align-items: flex-start;
}

.Date {
	color: grey;
	font-size: 50%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}