html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: white;
    color: #ffffff;
}
hr {
  border: 0.5px solid grey;
  width: 80%;
}
.page {
    width: 100%;
    height: 100%;
    display: table;
}
.contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.section1{
	width: 100%;
	height : 18% ;
	text-align: center ;
	padding : 2%;
}
.section2{
	width: 100%;
	height : 30% ;
	text-align: center ;
	display: flex ;
	flex-direction: row;
	margin-left : 4%
}
.section4{
	width: 100%;
	height : 30% ;
	text-align: center;
	padding :2%
}
.card1{
	width: 96%;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			display: flex ;
	flex-direction: column;
  align-items: center;
}
.card2{
	width: 42%;
	height: 90%;
	margin : 2%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  		display: flex ;
	flex-direction: column;
	align-items: center;
}
.card4{
	width: 96%;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	display: flex ;
	flex-direction: column;
	align-items: center;
}
.cardimage{
	width: 35px;
	height: 35px;
}
.imagebckg{
		width: 50px;
	height: 50px;
	margin: 5%;
	background-color: red;
  display: flex;
  border-radius : 100%;
  align-items: center;
  justify-content: center;
}
.cardtext{
	color : grey;
	font-weight: bold;
}
.cardtext2{
	color : grey;
	font-weight: normal;
}
