body {
	font-family: Arial, Helvetica, sans-serif;
}

.RoundButton {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border-radius: 30px;
	text-align: center;
	width: 60%;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #3c89c3;
	color: white;
	background-color: #3c89c3;
}

.RoundButtonContainer {
	display: flex;
	width: 100%;
	align-items: center;
}


.RoundButtonWhite {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border-radius: 30px;
	text-align: center;
	width: 60%;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	color: #3c89c3;
	background-color: white;
}

.formlogin {
	width: 100%;
	height: 80%;
	padding: 10%;
	align-items: center;
	justify-content: center;
}

.footer {
	width: 100%;
	height: 10%;
	align-items: center;
}

.textinputWhite {
	width: 80%;
	border-radius: 0px 30px 30px 30px;
	margin-bottom: 0%;
	font-size: 25px;
	background-color: Transparent;
	border-style: solid;
	border-width: 2px;
	color: #3c89c3;
	border-color: white;
}

.textWhite {
	font-size: 30px;
	margin-bottom: 5%;
	margin-top: 10%;
	color: white;
	font-weight: 1000;
}