body {
	font-family: Arial, Helvetica, sans-serif;
}

.RoundButton {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border-radius: 30px;
	text-align: center;
	width: 60%;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #3c89c3;
	color: white;
	background-color: #3c89c3;
}