html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: white;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
}

hr {
	border: 0.5px solid #f0f0f0;
	width: 80%;
}

.section1 {
	width: 100%;
	height: 30%;
	text-align: center;
	padding: 2%;
	position: relative;
	background-color: #f2f2f2;
	display: inline-block;
	align-items: center;
	margin-bottom: 10%;
	justify-content: center;
}
.image {
	width: 100px;
	height: 100px;
	justify-content: center;
	display: flex;
	align-items: center;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -50px;
}


.section2 {
	position: relative;
	width: 100%;
	height: 10%;
	display: flex;
	margin: 2%;
	flex-direction: row;
	justify-content: flex-start;
}

.icon {
	width: 40%;
	padding: 4%;
	display: flex;
	justify-content: left;
	position: relative;
	align-items: left;
	align-self: center;
}

.textinput {
	justify-content: center;
	width: 60%;
	
	font-weight: normal;
		align-self: center;
	padding: 5%;
	height: 15%;
	border-radius: 0px 30px 30px 30px;
	font-size: 25px;
	background-color: Transparent;
	border-style: solid;
	border-width: 1px;
	border-color: #3c89c3;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	text-align: left;
	padding-bottom: 8%;
	text-align: center;
}

.footerButton {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	text-align: center;
	width: 60%;
	height: 30%;
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #f2f2f2;
	color: black;
	background-color: #f2f2f2;
	margin-top: 10%;
	margin-bottom: 10%;
	align-self: center;
}

.title {
	color: grey;
	font-size: 18px;
	padding-left: 10%;
}

.ButtonContainer {
	justify-content: center;
	width: 100%;
	height: 20%;
	text-align: center;
	display: flex;
	position: relative;
	margin: 2%;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.button {
	
	font-weight: normal;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	text-align: center;
	width: 60%;
	height: 30%;
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #3c89c3;
	color: white;
	background-color: #3c89c3;
	margin-top: 10%;
	margin-bottom: 10%;
}

a {
	text-decoration: none;
	font-size: 22px;
	color: black;
}

i {
	margin-left: 10px;
}