html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #f2f2f2;
	color: #F1F1F1;
	font-family: Arial, Helvetica, sans-serif;
}

.card1 {
	background-color: white;
	border-radius: 10px;
	width: 96%;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
}

hr {
	border: 0.5px solid #f0f0f0;
	width: 60%;
}

space {
	height: 20px;
}

.page {
	width: 100%;
	height: 100%;
	display: table;
}

.contents {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}

.section1 {
	display: table;
	position: absolute;
	width: 100%;
	height: 40%;
	top: 20%;
	text-align: center;
	padding: 2%;
}

.button {
	text-align: center;
	margin: 10px;
	font-weight: normal;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	text-align: center;
	width: 60%;
	height: 40px;
	font-size: 20px;
	border-style: none;
	color: white;
	background-color: #3c89c3;
}

.buttonw {
	text-align: center;
	margin: 10px;
	font-weight: normal;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	text-align: center;
	width: 60%;
	height: 40px;
	font-size: 20px;
	border-style: none;
	color: white;
	background-color: #FE104D;
}

.cardimage {
	background-color: #3c89c3;
	border-radius: 100%;
	width: 80px;
	height: 80px;
}

.profile-image {
	position: relative;
	top: -10%;
	width: 50% display: flex;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
}

.textinput {
	width: 80%;
	border-radius: 0px 30px 30px 30px;
	margin-bottom: 0%;
	font-size: 25px;
	background-color: Transparent;
	border-style: solid;
	border-width: 2px;
	border-color: #3c89c3;
}

.textlogin {
	font-size: 30px;
	margin-bottom: 5%;
	margin-top: 10%;
	color: #3c89c3;
	font-weight: 1000;
}

.textform {
	font-size: 25px;
	margin-bottom: 1%;
	color: #3c89c3;
}

.section2 {
	width: 100%;
	height: 30%;
	text-align: center;
	display: flex;
	margin: 2%;
	flex-direction: row;
}

.section3 {
	width: 100%;
	height: 30%;
	text-align: center;
	display: flex;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	flex-direction: row;
}

.section4 {
	width: 100%;
	height: 30%;
	text-align: center;
	padding: 2%
}

.card2 {
	border-radius: 10px;
	width: 46%;
	height: 90%;
	margin-right: 1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card3 {
	border-radius: 10px;
	width: 48%;
	height: 90%;
	margin-left: 1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card4 {
	border-radius: 10px;
	width: 96%;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cardtext {
	color: grey;
	font-weight: bold;
}

.cardtext2 {
	color: grey;
	font-weight: normal;
}