.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:100%;
  text-align: left;
  padding-bottom: 8%;
}

.title {
  color: grey;
  font-size: 18px;
    padding-left: 10%;
}

.ButonContainer {
	justify-content: center;
	display: flex;
	align-items: center;
}

.button {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	text-align: center;
	width: 60%;
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #3c89c3;
	color: white;
	background-color: #3c89c3;
	margin-top: 10%;
	margin-bottom: 10%;
}

.outerCard {
	position: relative;
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #f1f1f1;
	width: 100%;
	height: 10em;
	display: inline-block;
	align-items: center;
	margin-bottom: 10%;
	justify-content: center;
}

.innerCard {
	padding: 5px;
	display: flex;
	width: 100%;
	height: 30%;
}


.image {
	width: 100px;
	height: 100px;
	justify-content: center;
	display: flex;
	align-items: center;
	position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.icon {
	width: 30px;
	height: 30px;
	justify-content: center;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	margin-right: 5px;
}

.textinput {
	width: 80%;
	border-radius: 0px 30px 30px 30px;
	margin-bottom: 0%;
	font-size: 25px;
	background-color: Transparent;
	border-style: solid;
	border-width: 2px;
	border-color: #3c89c3;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

i {
	margin-left: 10px;
}

body {
	padding-bottom: 10px;
}
