* {
	box-sizing: border-box;
}

body {
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
	background-color: #f2f2f2;
	width: 100%;
	height: 30%;
	position: relative; text-align : center;
	padding: 2%;
	display: inline-block;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.image {
	padding: 10%;
	width: 50%;
	height: 50%;
}

.column1 {	
	float: left;
	width: 20%;
	height: 20%;
}

.column2 {
	justify-content: center;
	float: right;
	width: 80%;
	padding: 10px;
	height: 20%;
}

.icon {
	align-self: center;
	width: 2.2em;
	height: 2.2em;
	padding: 1%;
}

.textinput {
	justify-content: center;
	font-weight: normal;
	width: 100%;
	align-self: center;
	padding: 3%;
	border-radius: 0px 30px 30px 30px;
	font-size: 15px;
	background-color: Transparent;
	border-style: solid;
	border-width: 1px;
	border-color: #3c89c3;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Style the footer */
.footer {
	height: 30%; background-color : #f1f1f1;
	padding: 10px;
	text-align: center;
	background-color: #f1f1f1;
}

.footerButton {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	text-align: center;
	width: 60%;
	height: 30%;
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #f2f2f2;
	color: black;
	background-color: #f2f2f2;
	margin-top: 10%;
	margin-bottom: 10%;
	align-self: center;
}


.ButtonContainer {
	justify-content: center;
	width: 100%;
	height: 20%;
	text-align: center;
	display: flex;
	position: relative;
	margin: 2%;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.button {
	
	font-weight: normal;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	text-align: center;
	width: 60%;
	height: 30%;
	font-size: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #3c89c3;
	color: white;
	background-color: #3c89c3;
	margin-top: 10%;
	margin-bottom: 10%;
}