html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: white;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

.page {
	width: 100%;
	height: 100%;
	display: table;
}

.contents {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}

.logo {
	width: 100%;
	height: 20%;
}

.image {
	width: 100px;
	height: 100px;
	margin-top: 10%;
	margin-left: 10%;
}

.formlogin {
	width: 100%;
	height: 80%;
	padding: 10%;
}

.signupfooter {
	width: 100%;
	height: 10%;
	align-items: center;
}

.textinput {
	width: 80%;
	border-radius: 0px 30px 30px 30px;
	margin-bottom: 0%;
	font-size: 25px;
	background-color: Transparent;
	border-style: solid;
	border-width: 2px;
	border-color: #3c89c3;
}

.textlogin {
	font-size: 30px;
	margin-bottom: 5%;
	margin-top: 10%;
	color: #3c89c3;
	font-weight: 1000;
}

.textform {
	font-size: 25px;
	margin-bottom: 1%;
	color: #3c89c3;
}

.loginbutton {
	border-radius: 30px;
	text-align: center;
	width: 60%;
	margin-left: 10%;
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #3c89c3;
	color: white;
	background-color: #3c89c3;
	margin-top: 10%;
}

.signuptext {
	font-size: 25px;
	margin-left: 30%
}

#content-text {
	font-weight: bold;
	font-size: 5em;
}